aiofiles
aiohttp
aria2p
beautifulsoup4
cfscrape
coffeehouse
cryptg
emoji
googletrans
google_images_download
gtts
hachoir
Pillow
psycopg2
pySmartDL
python-barcode
python-magic
qrcode
regex
requests
selenium
speedtest-cli
sqlalchemy
telegraph
urbandict
wikipedia
youtube-dl
google-api-python-client
oauth2client
httplib2==0.15.0
cowpy
google_auth_oauthlib
gsearch>=1.6.0
PyGithub
lxml
git+https://github.com/LonamiWebs/Telethon
git+https://github.com/ahupp/python-magic
humanize
patool
spotify_token
fast.com
names
random_cli
pytuneteller
dadjokes-cli
jotquote
csvfaker
gitpython
heroku3
kwot
programmingquotes
PyPDF2
passwordgenerator
aioschedule
feedparser
apscheduler
spamwatch
